[%- USE DBI( dbh = dbh ) -%]
[%- USE format -%]
[%- finger_line = format("%-9s\t%-17s\t%s\t") -%]
[% FOREACH host IN DBI.query("select d.device_name, d.contact, p.room from devices d join places p using (place_id) order by device_name") -%]
[% finger_line(host.device_name, host.contact, host.room) %]
[% END -%]
